# Interactive Exercise: Pandas Fundamentals
This notebook contains interactive coding exercises on [topic] using:
- Fill-in-the-blanks activities
- Bite-sized challenges
- Debugging exercises


## How to use this notebook:
1. Make a copy to your own Google Drive
2. Fill in the blank sections marked with TODO comments
3. Run each cell to test your solutions
4. Complete the challenges at your own pace

# Question 01: Creating and Exploring DataFrames
## Here's how we can approach this with interactive elements:
## Fill-in-the-Blanks Version:

In [ ]:
#import Libraries
import pandas as pd
import numpy as np

In [ ]:
# DATAFRAME CREATION EXERCISE
# Goal: Create DataFrames and explore their properties

# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [24, 27, 22, 32, 28],
    'City': ['New York', 'Boston', 'Chicago', 'Seattle', 'Miami']
}

# Create the DataFrame
df = pd._________(data)  # TODO: Use appropriate function to create DataFrame

# Get basic information
num_rows, num_cols = df._______  # TODO: Access property to get dimensions
data_types = df._______  # TODO: Access property to get column data types

# Basic DataFrame exploration
first_three_rows = df._______(3)  # TODO: Method to get first 3 rows
last_two_rows = df._______(2)  # TODO: Method to get last 2 rows
summary_stats = df.________()  # TODO: Method to get statistical summary

# Display information
print("DataFrame:")
print(df)
print("\nDimensions (rows, columns):", num_rows, num_cols)
print("\nData Types:")
print(data_types)
print("\nFirst 3 rows:")
print(first_three_rows)
print("\nLast 2 rows:")
print(last_two_rows)
print("\nSummary Statistics:")
print(summary_stats)

# Bite-Sized Challenge:

In [ ]:
# CHALLENGE: Creating and exploring a DataFrame
# 1. Create a DataFrame with columns 'Product', 'Price', and 'Quantity'
#    Include at least 5 different products
# 2. Add a new column 'Total' calculated as Price * Quantity
# 3. Sort the DataFrame by 'Total' in descending order
# 4. Find and print the product with the highest total value

# Write your solution below:



# BONUS CHALLENGE: Calculate and add a column 'Discount' with 10% off for products with Price > 50

# Debugging Exercise:

In [ ]:
# DEBUG CHALLENGE: Fix the errors in this code that creates and explores a DataFrame

# Create a sample dataset
data = {
    'Student': ['John', 'Sarah', 'Mike', 'Lisa', 'Tom'],
    'Math': [85, 92, 78, 96, 81],
    'Science': [92, 85, 88, 75, 93],
    'English': [78, 95, 82, 90, 87]
}

# Create DataFrame
df = pd.DataFrame(data)

# Try to get information
average_scores = df.avg()

# Find the highest Math score
highest_math = df.Math.maximum()

# Select students with Science score above 90
science_stars = df[df.Science > 90]

# Calculate total score for each student
df['Total Score'] = df['Math'] + df[Science] + df['English']

# What's wrong with each operation? Fix the code to make it work correctly.