# Interactive Exercise: Pandas Fundamentals
This notebook contains interactive coding exercises on [topic] using:
- Fill-in-the-blanks activities
- Bite-sized challenges
- Debugging exercises


## How to use this notebook:
1. Make a copy to your own Google Drive
2. Fill in the blank sections marked with TODO comments
3. Run each cell to test your solutions
4. Complete the challenges at your own pace

# Question 02:Data Selection and Filtering
## Here's how we can approach this with interactive elements:
## Fill-in-the-Blanks Version:

In [ ]:
#import Libraries
import pandas as pd
import numpy as np

In [ ]:
# DATA SELECTION AND FILTERING EXERCISE
# Goal: Select and filter data from DataFrames

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace'],
    'Age': [24, 27, 22, 32, 28, 45, 36],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing', 'Finance', 'HR'],
    'Salary': [50000, 60000, 52000, 75000, 62000, 80000, 58000]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Select columns
names_and_departments = df[[_____, _____]]  # TODO: Select 'Name' and 'Department' columns

# Select rows by position
third_and_fourth_rows = df.____[___:___, :]  # TODO: Use iloc to select rows 2 and 3

# Select rows by condition
it_staff = df[df['Department'] == _____]  # TODO: Filter for IT department
high_earners = df[df['Salary'] _____ 60000]  # TODO: Filter for salary > 60000

# Complex filtering (AND condition)
young_high_earners = df[(df['Age'] < _____) & (df['Salary'] > _____)]  # TODO: Age < 30 and Salary > 55000

# Complex filtering (OR condition)
finance_or_hr = df[(df['Department'] == _____) | (df['Department'] == _____)]  # TODO: Finance OR HR departments

print("\nNames and Departments:")
print(names_and_departments)
print("\nThird and Fourth Rows:")
print(third_and_fourth_rows)
print("\nIT Staff:")
print(it_staff)
print("\nHigh Earners:")
print(high_earners)
print("\nYoung High Earners:")
print(young_high_earners)
print("\nFinance or HR Staff:")
print(finance_or_hr)

# Bite-Sized Challenge:

In [ ]:
# CHALLENGE: Advanced data selection
# Use the employee DataFrame from the previous exercise
# 1. Select employees who are either:
#    - In IT with salary > 65000, OR
#    - In Finance with age < 30
# 2. Create a new DataFrame with Name, Department, and a new column 'Experience Category'
#    where: Age < 25 is 'Junior', 25-35 is 'Mid-level', >35 is 'Senior'
# 3. Find the average salary by department

# Write your solution below:



# BONUS CHALLENGE: Create a pivot table showing average and maximum salary by department and experience category

# Debugging Exercise:

In [ ]:
# DEBUG CHALLENGE: Fix the errors in this code for data selection and filtering

# Create a sample DataFrame
data = {
    'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor', 'Keyboard'],
    'Price': [1200, 800, 300, 500, 100],
    'Stock': [15, 25, 40, 10, 50],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Computer', 'Computer']
}
df = pd.DataFrame(data)

# Try to select products with price over 300
expensive = df.where(df.Price > 300)

# Try to select specific columns
selected = df('Product', 'Price')

# Try to find products with low stock
low_stock = df[Stock < 20]

# Try to find electronics with price under 1000
affordable_electronics = df[df['Category'] = 'Electronics' and df['Price'] < 1000]

# Try to sort by price
sorted_df = df.sort('Price', descending=True)

# What's wrong with each operation? Fix the code to make it work correctly.