# Interactive Exercise: Pandas Fundamentals
This notebook contains interactive coding exercises on [topic] using:
- Fill-in-the-blanks activities
- Bite-sized challenges
- Debugging exercises


## How to use this notebook:
1. Make a copy to your own Google Drive
2. Fill in the blank sections marked with TODO comments
3. Run each cell to test your solutions
4. Complete the challenges at your own pace

# Question 03:Data Manipulation and Transformation
## Here's how we can approach this with interactive elements:
## Fill-in-the-Blanks Version:

In [ ]:
#import Libraries
import pandas as pd
import numpy as np

In [ ]:
# DATA MANIPULATION EXERCISE
# Goal: Transform and manipulate DataFrames

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Score_1': [85, 92, 78, 96, 85],
    'Score_2': [90, 88, 82, 78, 92]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Add a new column
df['Average'] = (df['Score_1'] + df['Score_2']) / _____  # TODO: Divisor to calculate average

# Apply a function to a column
df['Grade'] = df['Average'].______(
    lambda x: 'A' if x >= 90 else ('B' if x >= 80 else 'C')
)  # TODO: Method to apply function to each value

# Rename columns
df = df.______(columns={'Score_1': 'Midterm', 'Score_2': 'Final'})  # TODO: Method to rename columns

# Sort DataFrame
df_sorted = df._______(by='Average', ascending=_____)  # TODO: Method to sort and direction

# Reset index after sorting
df_sorted = df_sorted.______()  # TODO: Method to reset index

# Group by a column and calculate mean
mean_by_grade = df.______('Grade').____()  # TODO: Methods to group and calculate mean

print("\nModified DataFrame:")
print(df)
print("\nSorted DataFrame:")
print(df_sorted)
print("\nMean by Grade:")
print(mean_by_grade)

# Bite-Sized Challenge:

In [ ]:
# CHALLENGE: Data transformation
# 1. Create a DataFrame with columns 'Date', 'Product', 'Units', and 'Price' (at least 10 rows)
# 2. Convert 'Date' column to datetime type
# 3. Add a 'Revenue' column (Units * Price)
# 4. Add a 'Month' column extracted from the Date
# 5. Group by Month and Product, then calculate total Revenue by month and product

# Write your solution below:



# BONUS CHALLENGE: Create a pivot table showing total revenue by Product (rows) and Month (columns)

# Debugging Exercise:

In [ ]:
# DEBUG CHALLENGE: Fix the errors in this code for data manipulation

# Create a sample DataFrame
dates = pd.date_range('2023-01-01', periods=5)
data = {
    'Date': dates,
    'Temperature': [32, 35, 28, 30, 33],
    'Precipitation': [0, 0.2, 0.5, 0.1, 0]
}
df = pd.DataFrame(data)

# Try to extract month
df['Month'] = df.Date.months

# Try to add a Weather column
df.Weather = np.where(df['Precipitation'] > 0, 'Rainy', 'Sunny')

# Try to group by month and calculate mean
monthly_avg = df.groupby('Month').temperature.mean()

# Try to create a new column using apply
df['Temp_Category'] = df.apply(
    if Temperature < 30:
        return 'Cold'
    else:
        return 'Warm'
)

# Try to sort by Temperature in descending order
sorted_df = df.sort('Temperature', ascending=False)

# What's wrong with each operation? Fix the code to make it work correctly.